body {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: rgb(35, 114, 131);
  width: 100%;
  height: 9vh;
}

h1 {
  vertical-align: middle;
  text-align: center;
  line-height: 9vh;
  font-size: 3vw;
  color: white;
}

li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: rgb(35, 114, 131);
  margin: 7vw 7vw 10vw 7vw;
  display: inline-block;
  color: white;
  position: relative;
}

li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -15vw;
  width: 15vw;
  height: .2em;
  background: rgb(35, 114, 131);
  z-index: -1;
}


li:first-child::before {
  display: none;
}

.active {
  background: rgb(35, 114, 131);
}

.active ~ li {
  background: rgb(133, 176, 186);
}

.active ~ li::before {
  background: rgb(133, 176, 186);
}

.select {
  margin-top: 50px;
}
